---
- hosts: all
  gather_facts: yes
  become: yes
  become_method: sudo
  tasks:

  - name: 0. Test | List files
    command: ls -la /
    register: result
    ignore_errors: True
   
  - debug: var=result.stdout
